*, *::before, *::after{
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;
}

html{
    height: 100%;
    width: 100%;
}

body{

    background-color: grey;

}

.content{
    display: grid;
    height: 95vh;
    grid-template-rows: repeat(3, 10% 80% 10%) ;
}

.header{
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;

}

.buttons{
    display: flex;
    gap: 8px;
}

button{
    width: 100px;
    height: 50px;
    border-radius: 5px;
}
button:hover{
    background: bisque;
}

.menuContent{
    grid-row: 2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto, 1fr) ;
}

.menuItem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.itemImg{
    height: auto;
    width: 50%;
    margin: 10px 10px;
    transform: scale(1);

}

.item{
    font-size: x-large;
    font-weight: bold;
}

.desc{
    margin: 0px 75px;
}